*{
	margin: 0;
	padding: 0;
}
#header{
	background-image: url(images/background.png);
	background-size: cover;
	background-position: center;
	height: 90vh;
}
.container{
	margin-left: 30px;
	margin-right: 30px; 
}
.CSIlogo{
	letter-spacing: 3px;
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
}
a:-webkit-any-link{
   	color: red;
	text-decoration: none;
}
.nav{
	font-size: 1.8rem;
	position: fixed;
	width: 100%;
	margin-top: 1rem;
}
